body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    /*background-color: #f0f0f0;  Light background for better contrast */
    background: linear-gradient(to bottom, #fbc2eb, #a6c1ee); /* From pink to light blue */
    background-attachment: fixed;
}

.menu-container {
    display: flex;
    justify-content: center;
    justify-items: stretch;
    flex-wrap: wrap; /* Allows wrapping if the screen is narrow */
    margin-top: 20px;
}
.kitchen-menu {
    flex:1 1 30%;
    justify-self: stretch;
    max-width: 650px; /* Flex basis */
    min-width: 355px; /* Minimum width for each kitchen menu */
    border: 1px solid #ddd;
    border-radius: 5px; /* Rounded corners */
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    margin: 5px; /* Spacing between menus */
}
.menu-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px; /* Space below the title */
}
.meal-option {
    margin: 10px 0;
    border-bottom: 1px solid #ccc; /* Separator between meals */
    padding-bottom: 5px; /* Space below the meal option */
}
.meal-name {
    font-size: 20px;
    font-weight: bold;
    color: #333; /* Darker color for contrast */
}
.menu-item {
    margin-left: 20px; /* Indent child items */
    font-size: 16px;
    color: #555; /* Lighter color for menu items */
}
.navbar {
    background-color: #333;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    margin-top: 5px;
}
.navbar h1 {
    color: white;
    text-decoration: none;
    font-size: 100%;
}
.navbar a:hover {
    background-color: #575757;
    border-radius: 5px;
}
.language-selector{
    display: flex;
    flex-wrap: wrap; 
}